<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>jp.co.gree.skype_archive</string>

  <key>ProgramArguments</key>
  <array>
    <string>skype_archive</string>
    <string>sync</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>3600</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/skype_archive.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/skype_archive.out</string>
</dict>
</plist>
